services:
  db:
    image: postgres:18
    container_name: postgres_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: scooter-tracker
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql

  app:
    build: ./
    depends_on:
      - db
    ports:
      - "3000:3000"

volumes:
  postgres_data:
